@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url(/styles/style.css);
@import url(/styles/product.css);
@import url(/styles/wishlist.css);
@import url(/styles/cartManagment.css);
@import url(/styles/signUp.css);
@import url(/styles/login.css);
@import url(/styles/logout.css);

@font-face {
    font-family: "source-sans";
    src: url(/assests/fonts/source-sans-pro.regular.ttf)
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-size: 62.5%;
}

/* color pallet */
:root {
    --primary: #071a2f;
    --secondary: #013a72;
    --light-black: #202020;
    --dark-black: black;
    --white-color: white;
    --nav-floating: #ff4141;
    --footer-color: #111;
    --light-text: #9e9e9e;
    --transparent-layout: #c8c8c866;
    --footer-color: #111;
    --light-text: #9e9e9e;
    --transparent-layout: rgba(200, 200, 200, 0.4);
    --cart-color: #e0ddddcc;
    --light-blue: #5353f7;
    --blue: #0000ff;
}

/* flex */
.flex-row {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.items-center {
    align-items: center;
}

.content-center {
    justify-content: center;
}

.content-space-between {
    justify-content: space-between;
}

.content-space-evenly {
    justify-content: space-evenly;
}

.content-space-around {
    justify-content: space-around;
}

/* postion */
.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

/* width */

.w-screen-100 {
    width: 100vw;
}

.w-percentage-100 {
    width: 100%;
}

.w-fit {
    width: fit-content;
}

/* text */
.text-decoration-none {
    text-decoration: none;
}

/* cursor */
.pointer {
    cursor: pointer;
}

.list-style-none {
    list-style: none;
}
/* font */
.subtext-roboto{
    font-family: ;
}
@media screen and (max-width: 850px) {
    *{
        font-size: 60%;
    }
}
@media screen and (max-width: 550px) {
    *{
        font-size: 38%;
    }
}