@import url(/styles/index.css);
body{
    overflow-x: hidden;
}

.main-description{
    background: var(--dark-black);
    color: var(--white-color);
    height: 1.5rem;
}
.main-description p,a{
    font-size: 0.8rem;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}
.main-description a{
    color: var(--white-color);
    text-decoration: none;
}
.nav-main{
    height: 4rem;
    font-family: 'Montserrat', sans-serif;
    padding: 0rem 1.5rem;
    box-shadow: 3px 8px 20px var(--dark-black);
}

.nav--logo{
    font-size: 1.5rem;
    font-weight: 600;
    gap: 0.5rem;
}
.nav--logo svg{
    height: 100%;
    width: 2rem;
}
.nav--right-section{
    gap: 1rem;
}
.nav--right-section button{
    background: var(--white-color);
    padding: 0rem 0.3rem;
    border-radius: 0.5rem;
}
.nav--right-section a{
    color: var(--light-black);
    font-size: 1rem;
    margin: auto;
    margin: 0rem 0.5rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    border-radius: 0.5rem;
}
.nav--right-section i{
    font-size: 1.5rem;
    font-weight: 550;
}
.right--search i{
    padding: 0rem 0.6rem ;
    font-size: 1.4rem;
    font-weight: 600;
}
.right--search input{
    height: 2rem;
    width: 15rem;
    border-radius: 1rem;
    outline: 1px solid var(--light-black);
    box-shadow: 1px 1px 5px var(--light-black);
    padding-left: 2rem;
    padding-right: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
}
.nav--right-section button:hover{
    box-shadow: 2px 2px 2px var(--light-black);
}
.nav--heart-number{
    justify-content: center;
}
.nav--heart-number p{
    position: absolute;
    bottom: 1rem;
    left: 0.8rem;
    font-size: 0.5rem;
    font-weight: 800;
    padding:0.2rem;
    color: var(--white-color);
    background: var(--nav-floating);
    border-radius: 55%;
    outline: 1px solid var(--dark-black);
}
.main--categories{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    height: 4rem;
    align-items: center;
}
.categories--sub-nav{
    display: flex;
    align-items: center;
}
.categories--sub-nav a{
    text-decoration: none;
    color: var(--light-black);
    font-size: 1rem;
    padding: 0rem 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-decoration: var(--dark-black) wavy underline;
    text-decoration-color: transparent;
    transition: 0.8s;
    -webkit-text-decoration-color: transparent;
    -moz-text-decoration-color: transparent;
   }
   
.categories--sub-nav a:hover{
    text-decoration-color: var(--light-black);
    -webkit-text-decoration-color: var(--light-black);
    -moz-text-decoration-color: var(--light-black);
}
.main-hero{
    position: relative;
    display: flex;
    align-items: center;
}
.hero--arrowholder{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    font-size: 3rem;
}
.hero--arrowholder a{
    z-index: 1;
}
.hero--arrowholder i{
    padding: 0rem 2rem;
    font-size: 4rem;
    color: var(--light-black);
}
.main-hero img{
    width: 100%;
    height: auto;
}
.hero--collection-text{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    padding-left: 20%;
}
.hero-holder{
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 4rem 2rem;
    border-radius: 2rem;
    background-color: var(--transparent-layout);
}
.summer-collection{
    font-size: 2rem;
}
.collection-content{
    font-size: 1rem;
    width: 50ch;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    line-height: 1.5rem;
    letter-spacing: 0.06rem;
}

.hero-holder a{
    text-decoration: none;
    letter-spacing: 0.1rem;
    color: var(--dark-black);
    transition: 1s;
    text-decoration: var(--dark-black) wavy underline;
}
.hero-holder a:hover{
    letter-spacing: 0.05rem;
    padding: 0rem 0.8rem;
    color: var(--dark-black);
}
.arrival-section-holder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.arrival-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 5rem;
    margin: 2rem 0rem;
}
.arrival-nav p{
    font-size: 1rem;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif; 
    cursor: pointer;
}
.arrival-nav .nav-text1{
    color: var(--dark-black)
}
.arrival-nav .nav-text2, .nav-text3{
    color: var(--light-text ); 
}
.arrival-section{
    display: grid;
    grid-template-columns: repeat(3, 18rem);
    grid-gap: 1rem;
    padding: 2rem 0rem;
    text-align: center;
    cursor: pointer;
}
.arrival-section div{
    display: flex;
    flex-direction: column;
    height: 25rem;
    gap: 1rem;
}
.grid-item img{
    width: 100%;
    border-radius: 0.5rem;
}
.grid-item p{
    margin-right: auto;
}
.product-title{
    font-size: 1rem;
    padding: 0rem 0.8rem;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif; 
}
.rating,.product-price{
    font-size: 0.8rem;
    padding: 0rem 0.8rem;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif; 
}
.footer{
    display: grid;
    gap: 8rem;
    grid-template-columns: repeat(2, 18rem);
    height: 15rem;
    align-items: center;
    justify-content: space-around;
    background: var(--footer-color);
}
.footer-left{
    display: flex;
    flex-direction: column;
}
.footer-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
.footer-logo p{
    font-size: 2rem;
    color: var(--white-color);
}

.footer-logo svg{
    height: 100%;
    width: 2rem;
}
.left--content{
    display: flex;
    padding: 1rem 0rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--white-color);
}
.footer-left--payment{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: var(--white-color);
    width: fit-content;
    border-radius: 0.5rem;
}
.footer-left--payment img{
    width: 4rem;
    padding: 0rem 0.5rem;
    cursor: pointer;
}

.footer-middle{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.footer-middle p{
    color: var(--white-color);
}
.footer-middle a{
    font-size: 1rem;
    text-decoration: none;
    color: var(--white-color);
}
.footer-middle .footer-title{
    font-size: 1.3rem;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif; 
}
